<div class="ui aligned basic segment sticky" id="wpsc-install-metamask"  style="display: none">
	<div class="ui red basic fluid label">
		<p><img src="{{fox}}" class="ui mini left floated image fox"></p>
		<span style="color: #999">
			It appears that Metamask is not installed,
			<a href="https://metamask.io/" target="_blank">click here</a> to install it.
		</span>
	</div>
</div>

<div class="ui aligned basic segment sticky" id="wpsc-connect-with-metamask"  style="display: none">
	<div class="ui red basic fluid label">
		<p><img src="{{fox}}" class="ui mini left floated image fox"></p>
		<span style="color: #999">{{{text}}}</span>
		<a id="wpsc-wrong-net-connect">Click here to connect to Metamask</a>
	</div>
</div>

<div class="ui aligned basic segment sticky" id="wpsc-connect-with-right-network"  style="display: none">
	<div class="ui red basic fluid label">
		<p><img src="{{fox}}" class="ui mini left floated image fox"></p>
		<span style="color: #999">{{{text-wrong-net}}}</span>
		<a id="wpsc-wrong-net-switch"></a>
		<span id="wpsc-wrong-net-switch-span" style="color: #999"></span>
	</div>
</div>