<style>
    .wpsc-art-thumb {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    .wpsc-small {
        font-size: 12px;
    }
    .wpsc.ui.selection.dropdown {
        font-size: 12px;
    }
    .wpsc-spacer-mini {
        height: 5px;
    }
    .wpsc-space {
        margin: 0 0 10px 0!important;
    }
    .wpsc-right {
        text-align: right;
    }
</style>
    

<div class="ui basic container segment wpsc-nft-view">

    <input type="hidden" id="wpsc-nft-network" value="{{wpsc_nft_network}}">
    <input type="hidden" id="wpsc-contract-flavor" value="{{wpsc_contract_flavor}}">
    <input type="hidden" id="wpsc-nft-marketplace-contract" value="{{wpsc_nft_marketplace_contract}}">
    <input type="hidden" id="wpsc-nft-token-id" value="{{nft_token_id}}">
    <input type="hidden" id="wpsc-nft-etherscan" value="{{etherscan}}">
    <input type="hidden" id="wpsc-nft-time-countdown">
    <span id="wpsc_log_history" style="display: none;">{{wpsc_log_history}}</span>
    
    {{{view-metamask}}}

    {{{nft-view-menu}}}

    <!-- Breadcrumb -->

    <div class="ui hidden divider"></div>

    <div class="ui medium breadcrumb">
        <i class="home icon divider"></i>
        <i class="right chevron icon divider"></i>
        <a class="section">
            <a href="{{collection-link}}">{{{collection-title}}}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{{nft-title}}}</div>
    </div>

    <div class="ui hidden divider"></div>

    <!-- Header -->

    <h1>
        {{{nft-title}}}
    </h1>

    <div id="wpsc-wallet-mint-account-message"></div>

    <div class="ui hidden divider"></div>

    <!-- NFT -->

    <div class="ui raised stackable grid">

        <!-- Left Column -->

        <div class="nine wide column">

            <!-- NFT Item media and data -->

            <div class="ui fluid card">
                <input type="hidden" id="wpsc-media-type" value="{{wpsc-media-type}}">
                <input type="hidden" id="wpsc-nft-media-json" value="{{wpsc-nft-media-json}}">
                <div class="content">
                    <div class="ui basic segment">
                        <div class="ui labels">
                            {{#cats}}
                            <a href="{{link}}" class="ui label" style="background-color: {{wpsc_cat_bg_color}}; color: {{wpsc_cat_color}};">{{{value}}}</a>
                            {{/cats}}
                        </div>
                    </div>
                    <div id="wpsc-nft-media-preview-media" class="nft-media">
                        {{#video}}
                            <video controls="" controlslist="nodownload" oncontextmenu="return false;">
                                {{#media_files}}
                                <source src="{{url}}" type="{{mime}}">
                                {{/media_files}}
                            </video>
                        {{/video}}
                        {{#audio}}
                            <audio controls="" controlslist="nodownload" oncontextmenu="return false;">
                                {{#media_files}}
                                <source src="{{url}}" type="{{mime}}">
                                {{/media_files}}
                            </audio>    
                        {{/audio}}
                        {{#image}}
                            {{#media_files}}
                                <img oncontextmenu="return false;" class="ui medium rounded centered bordered image" src="{{url}}">
                            {{/media_files}}
                        {{/image}}
                        {{#doc}}
                            {{#media_files}}
                            <div class="wpsc-pdf-iframe-container">
                                <iframe src="{{url}}"></iframe>
                            </div>
                            {{/media_files}}
                        {{/doc}}
                    </div>
                    <div class="ui basic segment">
                        <div class="ui labels">
                            {{#tags}}
                            <a href="{{link}}" class="ui label" style="background-color: {{wpsc_tag_bg_color}}; color: {{wpsc_tag_color}};">{{{value}}}</a>
                            {{/tags}}
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="meta">
                        <span class="date">
                            <a href="{{wpsc_author_url}}" class="ui label">
                                {{#original_author_avatar}}
                                <img class="ui right spaced avatar image" src="{{original_author_avatar}}">
                                {{/original_author_avatar}}
                                Minted by @{{author}}
                            </a>
                            <span class="ui label">
                                {{#wpsc_creator_blockie}}
                                <img class="ui right spaced avatar image" src="{{wpsc_creator_blockie}}">
                                {{/wpsc_creator_blockie}}
                                <a href="{{etherscan}}address/{{wpsc_creator}}" target="_blank">{{wpsc_creator_short}}</a>
                                <i class="copy icon" onclick="copyToClipboard('{{wpsc_creator}}', 'wpsc-nft-item-creator')"></i>
                                <span id="wpsc-nft-item-creator"></span>
                            </span>
                            <div class="wpsc-small">
                                Genesis: <a href="{{etherscan}}tx/{{wpsc_txid}}" target="_blank">{{wpsc_txid_short}}</a>
                                <i class="copy icon" onclick="copyToClipboard('{{wpsc_txid}}', 'wpsc-nft-item-txid')"></i>
                                <span id="wpsc-nft-item-txid"></span>
                            </div>
                            <div class="ui divider"></div>
                        </span>
                    </div>
                    <div class="description">
                        {{{content}}}
                    </div>
                </div>
            </div>

            <!-- / NFT Item media and data -->

            <!-- NFT meta data -->

            <div class="ui divider"></div>
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui labels">
                        <span class="ui {{color}} label"><i class="{{icon}} icon"></i>{{network_val}}</span>
                        <div class="ui image label">
                            <img src="{{wpsc_blockie_collection}}">
                            Smart Contract
                            <div class="detail">
                                <a href="{{etherscan}}address/{{wpsc_collection_contract}}" target="_blank">{{wpsc_collection_contract_short}}</a>
                                <i class="copy icon" onclick="copyToClipboard('{{wpsc_collection_contract}}', 'wpsc-nft-collection-contract')"></i>
                                <span id="wpsc-nft-collection-contract"></span>
                            </div>
                        </div>
                        <span class="ui image label">
                            <img src="{{wpsc_nft_id_blockie}}">
                            <a href="{{etherscan}}token/{{wpsc_collection_contract}}?a={{wpsc_nft_id}}" target="_blank">Token ID <span class="detail">#{{wpsc_nft_id}}</span></a>
                        </span>
                        <span class="ui label">
                            <a href="{{endpoint}}" target="_blank">View Token URI</a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- / NFT meta data -->


        </div>

        <!-- / Left Column -->
        <!-- Right Column -->

        <div class="seven wide column">

            <div class="ui fluid card">
                <input type="hidden" id="wpsc-nft-highest-bid">
                <div class="content">
                    <span class="ui label">
                        <img id="wpsc-nft-owner-blockie" class="ui right spaced avatar image" style="display: none;">
                        Owned by <a id="wpsc-nft-owner-link" href="" target="_blank"></a>
                        <i id="wpsc-nft-owner-link-copy" class="copy icon"></i>
                        <span id="wpsc-nft-owner-link-copy-span"></span>
                    </span>
                    <div class="ui divider"></div>
                    <div class="description">
                        <div class="ui grid">
                            <div class="two column row">
                                <div id="wpsc-nft-col1" class="column">
                                    <span id="wpsc-nft-col1-price-label" style="display: none;"></span>
                                    <span id="wpsc-nft-col1-price" class="ui teal tag large label" style="display: none;"></span>
                                    <div id="wpsc-nft-col1-reserve-price" class="ui label" style="display: none; margin-top: 10px;"></div>
                                </div>
                                <div id="wpsc-nft-col2" class="column">
                                    <div id="wpsc-nft-place-higher-bid" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-bid-modal">Place Higher Bid</div>
                                    <div id="wpsc-nft-place-bid" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-bid-modal">Place Bid</div>
                                    <div id="wpsc-nft-buy" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-buy-modal">Buy</div>
                                    <div id="wpsc-nft-finalize" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-finalize-modal">Finalize</div>
                                </div>
                            </div>
                            <div id="wpsc-nft-buttons" class="one column row" style="display: none;">
                                <div class="column">
                                    <div id="wpsc-nft-transfer-button" class="ui basic blue button wpsc-modal-button" style="display: none;" data-modal="wpsc-transfer-modal">Transfer</div>
                                    <div id="wpsc-nft-sell-button" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-sell-modal">Sell</div>
                                    <div id="wpsc-nft-auction-button" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-auction-modal">Auction</div>
                                    <div id="wpsc-nft-withdraw-button" class="ui basic green button wpsc-modal-button" style="display: none;" data-modal="wpsc-withdraw-modal">Withdraw</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wpsc-nft-auction-timer" style="display: none">
                        <div class="ui divider"></div>
                        <div class="ui fluid label" style="text-align: center;">
                            <i class="gavel icon"></i>
                            <div id="wpsc-nft-auction-timer-msg" class="detail">
                                Auction ends in
                                <span id="wpsc-nft-days"></span> days
                                <span id="wpsc-nft-hours"></span> hrs
                                <span id="wpsc-nft-minutes"></span> min
                                <span id="wpsc-nft-seconds"></span> sec    
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modals -->
            
            <!-- Transfer -->
            <div id="wpsc-transfer-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="circular paper plane inverted teal icon"></i>
                        Transfer
                      </h2>
                    <div id="wpsc-transfer-form">
                        <div class="ui inverted segment">
                            <div class="content">
                                <p>Are you sure you want to transfer the ownership of this Item to another account?</p>
                            </div>
                        </div>
                        <div class="ui fluid action input">
                            <input name="wpsc-nft-transfer" type="text" value="" placeholder="To address" class="wpsc-validate-address">
                            <button class="ui right labeled icon inverted teal button wpsc-open-qr-scanner" data-input-name="wpsc-nft-transfer">
                            <i class="qrcode icon"></i>Scan
                            </button>
                        </div>
                        <div class="ui divider"></div>
                          <div id="wpsc-nft-transfer-message"></div>
                   </div>
                   <div class="ui hidden divider"></div>
                   <div class="actions">
                      <div id="wpsc-nft-transfer-go-button" class="ui green basic inverted button">
                         <i class="paper plane icon"></i>
                         Transfer
                      </div>
                      <div id="wpsc-nft-transfer-cancel-button" class="ui red basic cancel inverted button">
                         <i class="remove icon"></i>
                         Cancel
                      </div>
                   </div>
                   <div id="wpsc-nft-transfer-progress" class="ui icon black message hidden">
                       {{{nft-transfer-progress}}}
                   </div>
                </div>
            </div>
            
            <!-- Sell -->
            <div id="wpsc-sell-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="circular handshake inverted teal icon"></i>
                        Sell
                      </h2>
                    <div id="wpsc-sell-form" class="ui inverted form">
                        <div class="ui inverted segment">
                            <div class="content">
                            <p>Are you sure you want to put your NFT up for sale?</p>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Price</label>
                                <input id="wpsc-sell-amount" name="wpsc-sell-amount" type="number" placeholder="Sale Price">
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> This is the total price of the item.</p>
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> The marketplace may charge commission.</p>
                            </div>
                            <div class="field">
                                <label>Wallet</label>
                                <div class="ui fluid action input">
                                    <input id="wpsc-nft-wallet-sell" name="wpsc-nft-wallet-sell" type="text" value="" placeholder="Wallet to receive funds" class="wpsc-validate-address">
                                    <button class="ui right labeled icon inverted teal button wpsc-open-qr-scanner" data-input-name="wpsc-nft-wallet-sell">
                                    <i class="qrcode icon"></i>Scan
                                    </button>
                                </div>
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> This is the wallet where you will receive funds.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div id="wpsc-nft-sell-message"></div>
                    <div class="actions">
                        <div id="wpsc-sell-go-button" class="ui green basic inverted button">
                            <i class="handshake icon"></i>
                            Sell
                        </div>
                        <div id="wpsc-sell-cancel-button" class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                    <div id="wpsc-nft-sell-progress" class="ui icon black message hidden">
                        {{{nft-transfer-progress}}}
                    </div>
                </div>
            </div>
            
            <!-- Auction -->
            <div id="wpsc-auction-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="circular gavel inverted teal icon"></i>
                        Auction
                      </h2>
                    <div id="wpsc-auction-form" class="ui inverted form">
                        <div class="ui inverted segment">
                            <div class="content">
                            <p>Are you sure you want to put your NFT up for auction?</p>
                            </div>
                        </div>
                        <div class="ui hidden divider"></div>
                        <div class="fields">
                            <div class="four wide field">
                                <label>Reserve Price</label>
                                <input id="wpsc-reserve-amount" name="wpsc-reserve-amount" type="number" placeholder="Reserve Price">
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> This is the minimum price you are willing to accept for your NFT</p>
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> The marketplace may charge commission.</p>
                            </div>
                            <div class="four wide field">
                                <label>Auction end date</label>
                                <div class="ui fluid action input">
                                    <input name="wpsc-nft-date-auction" type="datetime-local">
                                </div>
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> This is the end date of your auction. It will be at midnight GMT time.</p>
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="warning circle icon"></i> This action is irreversible, and once you put your item up for auction, it will be blocked from being transferred or sold until the auction ends</p>
                            </div>
                            <div class="eight wide field">
                                <label>Wallet</label>
                                <div class="ui fluid action input">
                                    <input name="wpsc-nft-wallet-auction" type="text" value="" placeholder="Wallet to receive funds" class="wpsc-validate-address">
                                    <button class="ui right labeled icon inverted teal button wpsc-open-qr-scanner" data-input-name="wpsc-nft-wallet-auction">
                                    <i class="qrcode icon"></i>Scan
                                    </button>
                                </div>
                                <p class="wpsc-small wpsc-padding wpsc-grey"><i class="info circle icon"></i> This is the wallet where you will receive funds.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div id="wpsc-nft-auction-message"></div>
                    <div class="actions">
                        <div id="wpsc-auction-go-button" class="ui green basic inverted button">
                            <i class="gavel icon"></i>
                            Auction
                        </div>
                        <div id="wpsc-auction-cancel-button" class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                    <div id="wpsc-nft-auction-progress" class="ui icon black message hidden">
                        {{{nft-transfer-progress}}}
                    </div>
                </div>
            </div>
            
            <!-- Bid -->
            <div id="wpsc-bid-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="circular hand point up outline inverted teal icon"></i>
                        Bid
                      </h2>
                    <div id="wpsc-bid-form" class="ui inverted form">
                        <div class="three fields">
                            <div class="field"></div>
                            <div class="field">
                                <input id="wpsc-bid-amount" name="wpsc-bid-amount" type="number" placeholder="Bid Amount">
                            </div>
                            <div class="field"></div>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div id="wpsc-nft-bid-message"></div>
                    <div class="actions">
                        <div id="wpsc-bid-go-button" class="ui green basic inverted button">
                            <i class="hand point up outline icon"></i>
                            Bid
                        </div>
                        <div id="wpsc-bid-cancel-button" class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                    <div id="wpsc-bid-progress" class="ui icon black message hidden">
                        {{{nft-transfer-progress}}}
                    </div>
                </div>
            </div>
            
            <!-- Buy -->
            <div id="wpsc-buy-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="circular handshake inverted teal icon"></i>
                        Buy
                      </h2>
                    <div id="wpsc-buy-form" class="ui inverted form">
                        <div class="three fields">
                            <div class="field"></div>
                            <div class="field">
                                <label>Amount</label>
                                <input id="wpsc-buy-amount" name="wpsc-buy-amount" type="text" readonly>
                            </div>
                            <div class="field"></div>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div id="wpsc-nft-buy-message"></div>
                    <div class="actions">
                        <div id="wpsc-buy-go-button" class="ui green basic inverted button">
                            <i class="handshake icon"></i>
                            Buy
                        </div>
                        <div id="wpsc-buy-cancel-button" class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                    <div id="wpsc-buy-progress" class="ui icon black message hidden">
                        {{{nft-transfer-progress}}}
                    </div>
                </div>
            </div>
            
            <!-- Finalize -->
            <div id="wpsc-finalize-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="file outline teal icon"></i>
                        Close Auction
                      </h2>
                    <div id="wpsc-nft-finalize-message"></div>
                    <div class="actions">
                        <div id="wpsc-finalize-go-button" class="ui green basic inverted button">
                            <i class="file outline icon"></i>
                            Finalize
                        </div>
                        <div id="wpsc-finalize-cancel-button" class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                    <div id="wpsc-finalize-progress" class="ui icon black message hidden">
                        {{{nft-transfer-progress}}}
                    </div>
                </div>
            </div>
            
            <!-- Withdraw Auction -->
            <div id="wpsc-withdraw-modal" class="ui basic modal">
                <div class="ui center aligned inverted segment">
                    <h2 class="ui center aligned icon header">
                        <i class="file outline teal icon"></i>
                        Close Auction & Withdraw
                      </h2>
                    <div id="wpsc-nft-withdraw-message"></div>
                    <div class="actions">
                        <div id="wpsc-withdraw-go-button" class="ui green basic inverted button">
                            <i class="file outline icon"></i>
                            Withdraw
                        </div>
                        <div id="wpsc-withdraw-cancel-button" class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                    </div>
                    <div id="wpsc-withdraw-progress" class="ui icon black message hidden">
                        {{{nft-transfer-progress}}}
                    </div>
                </div>
            </div>

            <!-- Graph -->

            <div id="wpsc-nft-graph" style="display: none">
                <h3 class="ui dividing header">
                    Graph
                </h3>
                <div class="ui raised segment">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
                    <canvas id="nftChart" width="400" height="400"></canvas>
                </div>
            </div>

            <!-- / Graph -->

            <!-- History -->

            <h3 class="ui dividing header">
                History
            </h3>
            <div id="wpsc-nft-history"></div>


            <div class="ui raised segment">

                <input type="hidden" id="wpsc_graph_line_color" value="{{wpsc_graph_line_color}}">
                <input type="hidden" id="wpsc_graph_bg_color" value="{{wpsc_graph_bg_color}}">

<!--
                {{original_author}}
                {{original_author_id}}
                {{original_author_avatar}}
                {{wpsc_author_url}}
-->

                <div class="ui image label">
                    <img src="{{wpsc_creator_blockie}}">
                    <i class="ui user icon"></i> 
                    <a href="{{wpsc_creator_link}}" target="_blank">{{wpsc_creator_short}}</a>
                    <div class="detail">
                        <a href="{{wpsc_txid_link}}" target="_blank">TxId {{wpsc_txid_short}}</a>
                    </div>
                </div>
                <span class="ui top right attached label">
                    Mint
                </span>
            </div>

            <!-- / History -->

        </div>

        <!-- / Right Column -->

    </div>  

    <!-- / NFT -->

    <script>
    jQuery('.ui.dropdown')
    .dropdown()
    ;
    </script>

</div>
